<h1 class="centered-content">Youth Family Initiatives App</h1>

<p class="centered-content">
  What concerns do Seattle families have for their
  youth? Filter by organization, date, and category to find out.
</p>

  <div class="dropdown-row centered-content">
    <div class="col-md-3" id="OrgDropdown">
      <%= select_tag(:organizations, options_for_select(@organization_array)) %>
    </div>

    <div class="col-md-3"id="DateDropdown">
      <%= select_tag(:show_dates, options_for_select(@date_array)) %>
    </div>

    <div class="col-md-3"id="CategoryDropdown">
      <%= select_tag(:categories, options_for_select(@category_array)) %>
    </div>

  <div class="col-md-3 actions">
    <%= button_to "Filter", "/show/issues", class: "filter btn btn-success"  %>
  </div>
</div><!-- end of dropdown-row>



  <!-- display issues under dropdown menus -->
  <div id="description">
    <ul id="descriptions">

    </ul>
  </div>


  <!-- <div class="descrips">
    <% @descriptions.each do |descrip| %>
    <ul>
      <p>"<%#= descrip %>"</p>
    </ul><br>
    <% end %>
  </div> -->
