<div class="name">
  <h1>Welcome to the Youth and Family Initiative App</h1>
  <p>
    This website was created to display the concerns that King County families have for their
    children and for the their communities. 
  </p>
</div>
